/* This is not really modular, as it applies changes to the whole project */
.Button {
    font-size: 14px;
    font-family: 'Quicksand';
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 0 5px;
    width: 140px;
}

.Button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.Button:focus {
    outline: 0 !important;
}

.Button:hover, .SettingsButton:hover {
    transform: translateY(-3px);
}

.Button:disabled, .Button:disabled:hover {
    background-color: white;
    border-color: grey;
    color: grey;
    cursor: not-allowed;
    transform: none;
}

.hide {
    display: none;
}

.Button1 {
    background-color: white;
    color: #3ecf8e;
    border: 2px solid #3ecf8e;
}

.Button1:hover {
    background-color: #3ecf8e;
    color: white;
    /* green #3ecf8e */
}

.Button2 {
    background-color: white;
    color: #53f;
    border: 2px solid #53f;
}

.Button2:hover {
    background-color: #53f;
    color: white;

}

.Button3 {
    background-color: white;
    color: #DC3545;
    border: 2px solid #DC3545;
}

.Button3:hover {
    background-color: #DC3545;
    color: white;
}

.SettingsButton {
    display: flex;
    align-items: center;
    width: 150px;
    color: #8898AA;
    text-transform: none;
    margin-left: auto;
    position: relative;
    top: 4px;
}

.Button div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.SettingsButton span {
    margin-left: 10px;
}

.Icon {
    height: 19px;
    width: auto;
}
