/* This is not really modular, as it applies changes to the whole project */
.Button {
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.6s;
    margin: 0 5px;
    width: 150px;
}

.Button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.Button:focus {
    outline: 0 !important;
}

.Button:hover {
    transform: translateY(-2px);
}

.Button:disabled, .Button:disabled:hover {
    background-color: white;
    border-color: grey;
    color: grey;
    cursor: not-allowed;
    transform: none;
}

.hide {
    display: none;
}

.Button1 {
    background-color: white;
    color: #3ecf8e;
    border: 2px solid #3ecf8e;
}

.Button1:hover {
    background-color: #3ecf8e;
    color: white;
    /* green #3ecf8e */
}

.Button2 {
    background-color: white;
    color: #53f;
    border: 2px solid #53f;

}

.Button2:hover {
    background-color: #53f;
    color: white;

}