body {
  margin: 0;
  font-family: 'Quicksand';
  /*, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  background-image: linear-gradient(to right, #53f, #0BD1FF);
  color: white;
  padding: 3%;
  font-weight: bold;
}

#navbar {
  background-image: linear-gradient(to right, #53f, #0BD1FF);
  color: white;
  padding: 10px;
  padding-left: 35px;
  text-align: left;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.80) !important;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  width: 40%;
  height: 310px;
  padding: 0px !important;
  border-radius: 10px !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  border: none !important;
}

.Modal-Btn-Container .Button {
  float: right;
  margin-top: 8px;
}

.Modal-Title-Container {
  background-image: linear-gradient(to right, #53f, #0BD1FF);
  color: white;
  font-weight: bold;
  padding: 20px;
}



.Radio-Btn-Container {
  display: flex;
  margin-bottom: 17px;
  margin-top: 3px;
}

.Column {
  float: left;
  width: 33%;
}

.Left-Column {
  text-align: left;
  padding-left: 33px;
  display: flex;
  align-items: center;
  height: 42px;
}

#Steps-Container {
  display: flex;
  align-items: center;
  background-color: #F7FAFC;
  border-radius: 10px;
  padding: 4px 15px;
  height: 44px;
}

#Steps-Label {
  font-weight: bold;
  font-size: 14px;
  color: #818796;
}

#Steps {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #6779D9;
}

#Finish-Lottie-Container {
  display: flex;
  align-items: center;
}